@page
@model Status.Web.Pages.IndexModel
@{
}
<div id="TopContainer" class="Container">
    <div id="CPU_Container">
        <h3>CPU</h3>
        <div id="CPU_CanvasContainer">
        </div>
    </div>
    <div id="Percentage_Container">
        <div id="CPU_Percent">
            <div class="Percentage_Inner_Container">
                <h3>CPU</h3>
                <div id="CPU_Val"></div>
            </div>
        </div>
        <div id="RAM_Percent">
            <div class="Percentage_Inner_Container">
                <h3>RAM</h3>
                <div id="RAM_Val"></div>
            </div>
        </div>
    </div>
</div>

<div id="BottomContainer" class="Container">
    <div id="Disks_Container">
        <div id="Disks"></div>
    </div>
    <div id="Created"></div>
</div>

<script type="text/javascript">

    $(window).ready(function()
    {
        Load();
        setInterval(Refresh, GetDelay());
    });

    function GetDelay()
    {
        var input;

        while(!input || input < 500)
        {
            input = parseInt(prompt("Indtast opdaterings tid i millisekunder (minimum 500):", "1000"));
        }

        return input;
    }

    function Load()
    {
        $.ajax
            ({
                type: 'GET',
                url: '/Get/LatestHour',
                success: function(result)
                {
                    Chart.defaults.global.defaultFontColor = "#FFF";

                    var
                        aspectRatio = 2,
                        o = 0;

                    if($(window).innerWidth() > 1024)
                    {
                        Chart.defaults.global.defaultFontSize = 18;
                        aspectRatio = 2;
                    }
                    else
                    {
                        Chart.defaults.global.defaultFontSize = 12;
                        aspectRatio = 1;
                        if(result.length >= 50)
                            o = 30;
                    }

                    $("#RAM_Val").html(Math.round(result[result.length - 1].ram) + "%");
                    var disks = "";
                    for(var i = 0; i < result[result.length - 1].disks.length; i++)
                    {
                        disks += "<div class='disk'><div class='disk_deviceID'>" + result[result.length - 1].disks[i].deviceID + "</div><div class='disk_name'>" + result[result.length - 1].disks[i].name + "</div><div class='disk_freespace'><i>Plads tilbage:</i><br />" + Math.round(((result[result.length - 1].disks[i].freeSpace / 1024) / 1024) / 1024) + "GB</div><div class='disk_usedspace'><i>Plads brugt:</i><br />" + Math.round(((result[result.length - 1].disks[i].size - result[result.length - 1].disks[i].freeSpace) / result[result.length - 1].disks[i].size) * 100) + "%</div></div>";
                    }
                    $("#Disks").html(disks);
                    $("#Created").html(result[result.length - 1].time.replace("-", "/").replace("-", "/"));
                    $("#CPU_Val").html(result[result.length - 1].cpu + "%");

                    var time = [];
                    var cpu = [];
                    for(o; o < result.length; o++)
                    {
                        time.push(result[o].time.substring(result[0].time.lastIndexOf(" ") + 1));
                        cpu.push(result[o].cpu);
                    }

                    var config =
                    {
                        type: 'line',
                        data:
                        {
                            labels: time,
                            datasets:
                                [{
                                    data: cpu,
                                    backgroundColor: "#c50c51",
                                    borderColor: "#c50c51",
                                    borderWidth: 0,
                                    lineTension: 0.4,
                                    borderJoinStyle: "round",
                                    borderCapStyle: "round",
                                    fill: true
                                }]
                        },
                        options:
                        {

                            animation: false,
                            legend:
                            {
                                display: false
                            },
                            aspectRatio: aspectRatio,
                            responsive: true,
                            maintainAspectRatio: true,
                            tooltips:
                            {
                                mode: 'index',
                                intersect: false,
                                displayColors: false,
                                xAlign: "center",
                                yAlign: "center",
                                bodyAlign: "center",
                                footerAlign: "center",
                                callbacks:
                                {
                                    label:
                                        function(tooltipItem, data)
                                        {
                                            var label = tooltipItem.value + "%";
                                            return label;
                                        }
                                }
                            },
                            hover:
                            {
                                mode: 'index',
                                intersect: false
                            },
                            scales:
                            {
                                xAxes:
                                    [{
                                        display: true,
                                        scaleLabel:
                                        {
                                            display: false,
                                            labelString: 'Time'
                                        },
                                        time:
                                        {
                                            displayFormats:
                                            {
                                                millisecond: 'HH:mm',
                                                second: 'HH:mm',
                                                minute: 'HH:mm',
                                                hour: 'HH:mm',
                                                day: 'HH:mm',
                                                week: 'HH:mm',
                                                month: 'HH:mm',
                                                quarter: 'HH:mm',
                                                year: 'HH:mm',
                                            }
                                        }
                                    }],
                                yAxes:
                                    [{
                                        ticks:
                                        {
                                            min: 0,
                                            max: 100
                                        },
                                        display: true,
                                        scaleLabel:
                                        {
                                            display: false,
                                            labelString: '% CPU Usage'
                                        }
                                    }]
                            },
                            elements:
                            {
                                point:
                                {
                                    radius: 0
                                }
                            }
                        }
                    };

                    $("#CPU_CanvasContainer").append("<canvas id='CPU' style='position:relative; ' aria-label='CPU Chart' role='chart'></canvas>");

                    var div = document.getElementById("CPU");
                    var ctx = div.getContext('2d');

                    window.myLine = new Chart(ctx, config);
                },
                error: function(e)
                {
                    console.log("error:");
                    console.log(e);
                }
            });
    }

    var
        small = ($(window).innerWidth() <= 1024);

    function Refresh()
    {
        var chart = window.myLine;

        $.ajax
            ({
                type: 'GET',
                url: '/Get/LatestReading',
                success: function(result)
                {
                    if(result.time.substring(result.time.lastIndexOf(" ") + 1) != chart.data.labels[chart.data.labels.length - 1])
                    {
                        chart.data.datasets[0].data.push(result.cpu);
                        chart.data.labels.push(result.time.substring(result.time.lastIndexOf(" ") + 1));
                        chart.data.labels.shift();
                        chart.data.datasets[0].data.shift();
                        $("#RAM_Val").html(Math.round(result.ram) + "%");
                        var disks = "";
                        for(var i = 0; i < result.disks.length; i++)
                        {
                            disks += "<div class='disk'><div class='disk_deviceID'>" + result.disks[i].deviceID + "</div><div class='disk_name'>" + result.disks[i].name + "</div><div class='disk_freespace'><i>Plads tilbage:</i><br />" + Math.round(((result.disks[i].freeSpace / 1024) / 1024) / 1024) + "GB</div><div class='disk_usedspace'><i>Plads brugt:</i><br />" + Math.round(((result.disks[i].size - result.disks[i].freeSpace) / result.disks[i].size) * 100) + "%</div></div>";
                        }
                        $("#Disks").html(disks);
                        $("#Created").html(result.time.replace("-", "/").replace("-", "/"));
                        $("#CPU_Val").html(result.cpu + "%");
                        chart.update();
                    }

                }
            });
    }

    $(window).resize(function()
    {
        var chart = window.myLine;
            console.log(chart);

        if($(window).innerWidth() > 1024)
        {
            Chart.defaults.global.defaultFontSize = 18;
            chart.options.aspectRatio = 2;
            chart.update();
        }
        else
        {
            Chart.defaults.global.defaultFontSize = 12;
            chart.options.aspectRatio = 1;
            chart.update();
        }
    });
</script>
