<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Status</title>
    <script src="/Assets/JavaScript/JQuery.js"></script>
    <link href="/Assets/CSS/Main.css" rel="stylesheet" />
    <script src="/Assets/JavaScript/Chart.min.js"></script>
</head>
<body>
        @RenderBody()
</body>
</html>
